



		
		*{margin:0;
			padding:0;
			box-sizing:border-box;
			text-decoration:none;
			transition:all .2s lenear;

		}

	

	

	

		.box-container{
			min-height:100vh;
			display:flex;
			align-items:center;
			justify-content:center;
			background:#00ff00;

		}









		.box-container .box{
			width:700px;
			background:#5DADE2;
			border-radius:15px;
			overflow:hidden;
			box-shadow:1px 1px #000;
			display:flex;
			align-items:center;
			margin:20px;
		}

	

	



		.box-container .box .image{
			position:relative;
			text-align:center;
			padding:60px 0;
			width:250px;
			background:#000;
			
			
			clip-path: polygon(0% 0%, 75% 0%, 100% 50%,
			75% 100%, 0% 100%);
			
			
	

		}

	

	
		
		
		

		.box-container .box .image img{
			clip-path: polygon(
			30% 0%, 70% 0%, 100% 30%,
			100% 70%, 70% 100%, 30% 100%,
			0% 70%, 0% 30%);
			
			height:170px;
			width:170px;
			border:2px solid #000;
			border-radius:50%;
			box-shadow:0 0 0 10px #fff;
			object-fit: cover;

		}

	

	

	

		.box-container .box .content{
			display:flex;
			padding:0 10px;

		}

	

	

		.box-container .box .content .icons{
			border-radius:15px;
			background:#000;
			margin:0 10px;
			
			
			clip-path: polygon(
			0% 15%, 15% 15%,
			15% 0%, 85% 0%,
			85% 15%, 100% 15%,
			100% 85%, 85% 85%,
			85% 100%, 15% 100%,
			15% 85%, 0% 85%);
		}

	

	

	

		.box-container .box .content .icons i{
			font-size:20px;
			margin:10px 13px;
			color:coral;
			display:block;

		}

	

	

	

		.box-container .box .content .icons i:first-child{
			margin-bottom:70px;

		}

	

	

		.box-container .box .content .info .title{
			font-size:29px;
			color:#000;
			padding:5px 0;
			text-transform:capitalize;

		}

	

	

	

		.box-container .box   .content .info .title:hover{
			color:D35339;
	

		}

	
	

	

	

		.box-container .box .content .info .title span{

			color:coral;

		}

	

	

		.box-container .box .content .info span:hover{

			color:0A5CDC;

		}

	

	

	

		.box-container .box .content .info .post{
			display:block;
			font-size:18px;
			color:#000;
			padding-bottom:32px;
			
		}

	

	

		.box-container .box .content .info a{
			display:block;
			color:#000;
			padding:6px 0;
			
			

		}

	

	

	

	

		.box-container .box .content .info a:hover{
			color:red;

		}

	

	

		.box-container .box  .share{
			border-radius:10%;
			padding: 0 7px;
			display:flex; 
			flex-flow:column;
			align-items:center;
			

			

		} 

	

	

		.box-container .box .share a{

			margin:8px;
			
			font-size:26px;

			color:#000;

			padding:3px;

			border:1px solid #000;
			border-radius:20%;

		}

	

		.box-container .box .share a:hover{
			color:#fff;
			

			background-color:#000;

		}

	




			/*--Mobail View--*/


		@media(max-width:650px){

			.box-container .box{

				flex-flow: column;

				width:300px;

			}

	

			.box-container .box .image{
				clip-path: polygon(
				0% 0%, 
				150% 0%, 
				50% 100%,
				0% 50%);
				
				
				
				height:200px;

				width:100%;

				padding:40px 0;

				
			}

		

		

			.box-container .box .image img{
				border:2px solid #000;
				height:120px;
				width:120px;

			}

		
			
		

			.box-container .box .content{

				padding:30px 5px;

			}

			.box-container .box .content .icons i:first-child{
				margin-bottom:105px;

			}


		

			.box-container .box .share{
				margin-bottom:15px;
				flex-flow:row;
				
				height:auto;

				width:250px;

				

			}
			
			
			.box-container .box .share a{
				margin:auto;
			}

		}